.footerContainer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #282828;
    padding: 20px;
    
    border-top: 0.3px solid rgb(75, 75, 75);
}

.musicPlayerContainer {
    width: 99%;
    margin: 0 40px 0 5px;
}

/* Example override for play button */
/* .rswp__toggle {
    color: red !important;
} */

._SliderRSWP.__181lube {
    margin-bottom: 7px !important;
}

/********** LEFT **********/
.footerLeft {
    min-width: 150px;
    max-width: 200px;
    flex: 0.3;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.albumCover {
    object-fit: contain;
    height: 100%;
    padding: 10px;
    margin-right: 2%;
}

.songInfo > h4 {
    margin-bottom: 2px;
}

.songInfo > p{
    font-size: 12px;
}


/********** CENTER **********/
.footerCenter {
    min-width: 100px;
    max-width: 275px;
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    margin: 0 1%;
}

.playButton {
    font-size: 44px !important;
}

.playButton:hover {
    transition: transform 100ms;
    transform: scale(1.07) !important;
}

.skipPrevious, .skipNext {
    filter: opacity(70%) !important;
}

.shuffle, .repeat {
    color: #1ed15e;
    filter: opacity(70%) !important;
}

.skipPrevious:hover, .skipNext:hover, .shuffle:hover, .repeat:hover {
    transition: all 100ms;
    filter: opacity(100%) !important;
}


/********** RIGHT **********/
.footerRight {
    min-width: 100px;
    max-width: 300px;
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
}

.footerRight * .MuiSlider-root {
    color: lightgrey;
}

.footerRight * .MuiSlider-root:hover {
    color: #1ed15e;
}


